body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    overflow-x: hidden;
    z-index: 1; /* Sidebar über dem Inhalt */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 270px; /* Breite der Sidebar + 10px (padding) */
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 300px); /* Gesamtbreite - Breite der Sidebar - rechter Rand */
    margin: 0 auto; /* Zentrieren des Containers */
    padding-bottom: 20px; /* Unteren Abstand hinzufügen */
    padding-right: 50px; /* Rechten Abstand hinzufügen */
}

.scroll-content {
    display: inline-block;
}

.plot-container {
    width: 100%;
}

.folder {
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
}

.subfolder {
    color: white;
    display: none;
    padding-left: 30px;
    font-size: 16px;
}

.folder:hover + .subfolder {
    display: block;
}

.folder:hover {
    background-color: #575757;
}
